body {
    font-family: "Courier New", Courier, monospace;
    background-color: #f0f0f0;
    color: #505050;
    margin: 0;
    padding: 0
}

body.dark-mode {
    background-color: #2a2a2a;
    color: #e0e0e0
}

main {
    margin-top: 120px
}

.dark-mode-toggle,
header {
    top: 0;
    display: flex;
    align-items: center
}

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #dae7da;
    color: #6b6b6b;
    justify-content: space-between
}

.dark-mode footer,
.dark-mode header {
    background-color: #4b6f4b;
    color: #d0d0d0
}

.header-left h1 {
    font-size: 24px;
    margin: 30px 0 1px 15px
}

.header-left h1 a {
    text-decoration: none;
    color: #505050;
    padding: 5px;
    transition: background-color .3s, color .3s
}

.dark-mode .header-left h1 a {
    color: #e0e0e0
}

.header-left h1 a:hover {
    background-color: #fff;
    color: #505050
}

.dark-mode .header-left h1 a:hover,
.dark-mode .navigation li a:hover {
    background-color: #1f1f1f;
    color: #e0e0e0
}

.dark-mode-toggle {
    position: absolute;
    right: 10px
}

.sun-icon {
    margin-right: 8px
}

.toggle {
    display: flex;
    align-items: center
}

.toggle input {
    display: none
}

.slider {
    width: 34px;
    height: 17px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer
}

.slider:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s
}

input:checked+.slider {
    background-color: #a4c8a8
}

input:checked+.slider:before {
    transform: translateX(16px)
}

.social-link {
    position: relative;
    padding: 5px 10px;
    transition: background-color .3s ease
}

.social-link:hover {
    background-color: #dae7da;
    border-radius: 4px
}

.dark-mode .project-card:hover,
.dark-mode .social-link:hover {
    background-color: #4b6f4b
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 25px 0 0
}

.navigation li a {
    text-decoration: none;
    color: #505050;
    padding: 10px;
    transition: background-color .3s, color .3s
}

.dark-mode .navigation li a,
.dark-mode .project-card p,
.dark-mode .projects-header a,
.dark-mode .skill-bar label {
    color: #e0e0e0
}

.navigation li a:hover {
    background-color: #fff;
    color: #505050
}

.projects-header {
    position: fixed;
    top: 58px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #a1a1a1
}

.dark-mode .projects-header {
    background-color: #2a2a2a;
    color: #e0e0e0
}

.projects-header h1 {
    margin: 0;
    font-size: 32px;
    color: #6b6b6b
}

.dark-mode .projects-header a:hover,
.dark-mode .projects-header h1 {
    color: #d0d0d0
}

.projects-header a {
    margin-left: 10px;
    text-decoration: none;
    color: #505050;
    transition: color .3s
}

.projects-header a:hover,
body.dark-mode address a {
    color: #dae7da
}

#finished-projects,
#planned-projects,
#under-development {
    padding: 20px;
    margin: 0 auto;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none
}

#greeting,
.project-card {
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.project-card {
    display: inline-block;
    opacity: 0;
    padding: 35px;
    width: 450px;
    vertical-align: top;
    margin: 20px 5px 5px;
    transition: opacity .9s ease, transform .3s ease, background-color .3s ease
}

.project-card.visible {
    opacity: 1
}

.dark-mode .project-card {
    background-color: #3a3a3a;
    color: #e0e0e0
}

.three-column-container {
    display: flex;
    margin-top: 20px
}

.column-1,
.column-2,
.column-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 540px
}

.project-card:hover {
    transform: translateY(-5px);
    background-color: #dae7da;
    transition: background-color, transform .3s ease
}

.project-card:hover .language-tag {
    background-color: #fefefe;
    transition: background-color .3s ease
}

.dark-mode .project-card:hover .language-tag {
    background-color: #3a3a3a
}

.project-card h3 {
    margin: 0 0 10px
}

.project-card p {
    color: #505050
}

.language-tag {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    background-color: #dae7da;
    color: #484848;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center
}

.dark-mode .language-tag {
    background-color: #4b6f4b;
    color: #d1d1d1
}

#greeting {
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    border-top: 4px solid #dae7da
}

.dark-mode #greeting {
    border-top: 4px solid #4b6f4b
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}

.left-content {
    flex: 3;
    background-color: transparent;
    border: 0;
    padding: 0;
    box-shadow: none
}

.dark-mode .left-content {
    background-color: #2a2a2a
}

#about-me,
#personal-interests,
.right-content {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.right-content {
    flex: 1;
    background-color: #fefefe;
    padding: 25px;
    margin-top: 80px;
    border-top: 4px solid #dae7da
}

.dark-mode .right-content {
    background-color: #3a3a3a;
    border-top: 4px solid #4b6f4b
}

h2,
h3 {
    color: #6b6b6b
}

.dark-mode h2,
.dark-mode h3 {
    color: #d0d0d0
}

h3 {
    font-size: 20px;
    margin-bottom: 10px
}

#about-me,
#personal-interests {
    padding: 20px 30px;
    background-color: #fefefe;
    max-width: 700px;
    margin: 0 auto 20px
}

.dark-mode #about-me,
.dark-mode #greeting,
.dark-mode #personal-interests {
    background-color: #3a3a3a;
    color: #e0e0e0
}

#about-me {
    border-top: 4px solid #dae7da;
    margin-top: 80px
}

.dark-mode #about-me {
    border-top: 4px solid #4b6f4b
}

#personal-interests {
    border-top: 4px solid #a7c7a7
}

.dark-mode #personal-interests {
    border-top: 4px solid #2d4f2d
}

.skill-bar label {
    font-size: 14px;
    color: #505050;
    display: block;
    margin-bottom: 5px
}

.skill-bar {
    margin-bottom: 15px;
    text-align: left;
    white-space: nowrap
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 8px;
    width: calc(100% - 50px);
    margin-right: 10px;
    display: inline-block
}

.dark-mode .progress-bar {
    background-color: #4b4b4b
}

.flag,
.progress {
    background-color: #505050;
    border-radius: 5px
}

.progress {
    height: 100%
}

.dark-mode .flag,
.dark-mode .progress {
    background-color: #e0e0e0
}

.flag {
    color: #fefefe;
    padding: 3px 5px;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle
}

.dark-mode .flag {
    color: #3a3a3a
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
}

#contact,
#resume {
    text-align: left;
    max-width: 700px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    border-top: 4px solid #dae7da
}

.dark-mode #books,
.dark-mode #contact,
.dark-mode #photos,
.dark-mode #resume {
    background-color: #3a3a3a;
    color: #e0e0e0;
    border-top: 4px solid #4b6f4b
}

address a {
    color: #4b6f4b
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dae7da;
    color: #505050;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s ease
}

#contactForm button:hover,
.dark-mode #contactForm button,
.dark-mode .download-button,
.download-button:hover {
    background-color: #3a5a3a;
    color: #f0f0f0
}

.dark-mode #contactForm button:hover,
.dark-mode .download-button:hover,
.dark-mode section {
    background-color: #000
}

#contact {
    text-align: center;
    padding: 10px 10px 25px
}

#contactForm {
    max-width: 600px;
    margin: 0 auto
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px
}

.dark-mode input[type=email],
.dark-mode input[type=text],
.dark-mode textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555
}

.dark-mode input[type=email]::placeholder,
.dark-mode input[type=text]::placeholder,
.dark-mode textarea::placeholder {
    color: #aaa
}

.form-row input {
    width: 100%
}

#contactForm textarea {
    width: 99%;
    margin-bottom: 15px
}

#contactForm button,
footer {
    background-color: #dae7da;
    width: 100%
}

#contactForm button {
    display: block;
    padding: 10px;
    color: #505050;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease
}

#personal {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    box-shadow: none
}

#books,
#photos,
section {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

#books,
#photos {
    flex: 1;
    max-width: 100%;
    padding: 20px;
    background-color: #fefefe;
    border-top: 4px solid #dae7da;
    text-align: center
}

.separator {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 10px auto;
    width: 80%
}

#photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
    padding: 20px 10px 10px
}

#photos-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 5px
}

#slideshow-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8)
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px
}

.slideshow-image {
    max-width: 85%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    margin: 0 auto
}

.photo-thumbnail {
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s ease
}

.photo-thumbnail.visible {
    opacity: 1
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #dae7da;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer
}

.dark-mode .close {
    color: #4b6f4b
}

.photo-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%
}

.next,
.prev {
    background: #dae7da;
    border: 0;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 0 30px;
    opacity: .8;
    transition: background-color .3s
}

.dark-mode .next,
.dark-mode .prev {
    background: #4b6f4b;
    color: #e0e0e0
}

.next:hover,
.prev:hover {
    background: #4b6f4b
}

.dark-mode .next:hover,
.dark-mode .prev:hover {
    background: #000
}

#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
    padding: 20px 10px 10px
}

.book-thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s ease
}

.book-thumbnail.visible {
    opacity: 1
}

section {
    background-color: #fff
}

footer {
    text-align: center;
    color: #6b6b6b;
    position: relative
}

@media (max-width:768px) {
    body {
        padding-top: 100px
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .navigation ul li {
        margin: 5px 0
    }

    .projects-header {
        display: none
    }

    .project-card {
        max-width: calc(95% - 20px);
        width: 100%
    }

    #personal,
    .three-column-container {
        flex-direction: column
    }

    .column-1,
    .column-2,
    .column-3 {
        max-width: none
    }

    #books,
    #photos {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px
    }
}